<!doctype html>
<html {{ site.language_attributes }}>
    {#
    |
    | Head
    |-------
    #}
    <head>
        {% include '_layouts/_head.twig' %}
    </head>
    
    {#
    |
    | Import macros
    |----------------
    #}
    {% import '_macros/global.twig' as global %}
    
    {#
    |
    | Body
    |-------
    #}
    <body class="{{ body_class }}">
        {#
        |
        | Loader
        |---------
        #}
        <div class="page-loader">
            <div class="item-content">
                <div class="mb-lg">LOADER</div>  
                <div class="item-loadbar">
                    <div class="item-loadbar-inner"></div>
                </div>
            </div>
        </div>

        {#
        |
        | Site container
        |-----------------
        #}

        <div id="barba-wrapper">
            <div class="barba-container">

                <div class="full-site-layer"></div>

                <div class="full-site-wrapper">

                    <div class="site-container">
                        <div class="cursor">
                            <div class="cursor-shape">
                                <div class="cursor-inner"></div>
                                <div class="cursor-text"></div>
                            </div>
                        </div>

                        {#
                        |
                        | Header
                        |---------
                        #}
                        {% block header %}
                            {% include '_layouts/header.twig' %}
                        {% endblock %}

                        {#
                        |
                        | Content
                        |---------
                        #}
                        {% block content %}{% endblock %}

                        {#
                        |
                        | Footer
                        |---------
                        #}
                        {% block footer %}
                            {% include '_layouts/footer.twig' %}
                        {% endblock %}

                        {#
                        |
                        | Cookie
                        |---------
                        #}
                        {% include '_includes/cookie.twig' %}
                    </div>
                </div>
            </div>
        </div>

        {#
        |
        | Debug Tool
        |------------
        #}
        {% if debug %}
            {% include '_debug-tool/debug-tool.twig' %}
        {% endif %}


        {#
        |
        | Javascripts
        |--------------
        #}
        {% block javascripts %}
            {% if google_map_api_key %}
                <script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}"></script>
            {% endif %}
            
            <script class="app-script" src="{{ dist }}/js/app.js"></script>

            {% if debug %}
                <script src="{{ dist }}/js/debug_tool.js"></script>
            {% endif %}
        {% endblock %}
	     
        {#
        |
        | WP Footer
        |--------------
        #}
        {{ wp_footer }}
    </body>
</html>