{% set menuPrimary = menu.primary.get_items %}

{#
|
| Header
|---------
#}
<header id="header">
    <div class="header-container">
        <nav class="item-nav">
            <div class="logo">Kévin Özdemir</div>
            <ul class="item-menu">
                {% for item in menuPrimary %}
                    <li class="{{ item.classes | join(' ') }}">
                        <a class="item-link" href="{{item.link}}">{{item.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <button class="btn-menu">
            <span class="item-burger">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </button>
    </div>
</header>

{#
|
| Mobile Menu
|--------------
#}
<div id="mobile-menu">
    <div class="item-container">
        <ul>
            {% for item in menuPrimary %}
                    <li class="{{ item.classes | join(' ') }}" data-stagger-item>
                        <a class="item-link" href="{{item.link}}">{{item.title}}</a>
                        {% if item.get_children %}
                            <ul class="nav-drop">
                                {% for child in item.get_children %}
                                <li><a href="{{child.link}}">{{child.title}}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
        </ul>
    </div>
</div>