/*
|--------------------
|     PAGE HOME
|--------------------
*/
.home{
    overflow: hidden;

    #footer{
        display: none;

    }
}
#page-home{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    overflow: hidden;

    .home-all-container{

        width: 100%;

    }
    .swiper-home{
        overflow: visible !important;

        height: 400px;

        .swiper-wrapper{
            height: 400px !important;

            transform: none !important;

            position: absolute;

            top: 0;
            left: 0;

            @include media-breakpoint-down(md) {
                height: 514px !important;
            }
            
            @include media-breakpoint-down(md) {
                height: 425px !important;
            }

            .swiper-slide{
                pointer-events: none;

                position: absolute;

                @include media-breakpoint-down(md) {
                    height: 510px !important;
                }

                a{
                    height: 100%;
                    width: 100%;

                }
                &-active{
                    opacity:1;
                }
                &:hover{
                    .image-center{
                        margin: 0;
                    }
                    .home-images{
                        filter: grayscale(0);
                    }
                }
            }
            .swiper-slide-active{
                pointer-events: auto;
            }
        }
    }

    .home-number{
        font-size: 120px;
        color: $light-grey;
        font-family: $font-family-extra;

        overflow: hidden;

        position: fixed;

        right: 0;
        bottom: -65px;
    }

    .home-title{
        @extend .title-xl;

        position: absolute;
        width: 200%;

        z-index: 2;

        font-size: 203px;
        text-align: center;
        -webkit-text-stroke: 4px $red-light;
        color: $red !important;

        left: 50%;
        top: 50%;

        pointer-events: none;
        
        transform: translate(-50%, -50%) rotate(-2deg);
        transition: .3s all;

        @include media-breakpoint-down(md) {
            -webkit-text-stroke: 2px $red-light;
            font-size: 52px;
            
        }
    }
    .row{
        flex-wrap: nowrap !important;
        width: 100%;

        @include media-breakpoint-down(md) {
            flex-wrap: wrap !important;
        }

        &.images-container{
            margin-left: 0;
            margin-right: 0;
        }
        .home-images{
            overflow: hidden !important; 
            filter: grayscale(1);
            background-attachment: fixed;
            transition: all 1s ease-out;
            &.image-center{
                margin: 0 32px;
                
                @include media-breakpoint-down(lg) {
                    margin: 32px 0;
                }

            }
        }
    }
}
