/*
|-----------------------
| 	  Gravity Form
|-----------------------
|
*/

/*
|
| Gravity form bootstrap
|-------------------------
*/
.gravity-form-bootstrap{
    .gform_fields{
        @extend .row;

        input, textarea{
            width: 100%;
            background-color: transparent;
        }
    }
}

/*
|
| Materialize form 
|-------------------
*/
.materialize-form{
    .materialize-form-group{
        position: relative;
        margin-bottom: 25px;

        label{
            position: absolute;
            top: 0;
            left: 15px;
        }
        input{
            border: none;
            border-bottom: 1px $black solid;
            color: $white;
            height: 25px;
        }
        
    }
}

/*
|
| Contact form 
|---------------
*/
.contact-form{
    label{
        color: $grey;
    }

    textarea{
        border: 1px $black solid;
        height: 120px;
        padding: 5px 10px;
        color: $white;

        &.placeholder_disabled{
            color: $black;
        }
    }

    .gform_body{
        margin-bottom: 20px;
    }

    .gform_footer {
        text-align: right;
    }

    input[type="submit"]{
        position: relative;
        background-color: transparent;
        border: none;
        color: white;
        padding: 15px;
        transition: all 0.3s ease-out;
        text-transform: uppercase;
        cursor: pointer;
        
        &:hover{
            color: $black;
        }

    }

    .gform_confirmation_message{
        color: $very-light-grey;
    }

    .validation_message{
        margin-top: 5px;
        color: $black;
        font-size: 14px;
    }
}