/*
|
| Page Loader
|--------------
*/
.page-loader {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;

    .item-content{
        width: 100%;
        color: white;
        text-align: center;
    }

    .item-loadbar{
        width: 30%;
        height: 2px;
        margin: auto;

        .item-loadbar-inner{
            width: 100%;
            height: 100%;
            border-radius: 1px;
            background-color: $white;
            transform-origin: center top;
            animation: loadbar 1.2s cubic-bezier(.92, 0, .09, 1);
        }
    }
}

@keyframes loadbar{
  from {transform: scaleX(0)}
  to {transform: scaleX(0.7)}
}