{% extends 'layout.twig' %}

{% block content %}
    <div id="page-home" class="page-home">
        <div class="home-all-container">
            <div class="container swiper-container swiper-home p-r">
                <div class="swiper-wrapper">
                    {% for project in posts %}
                        <div class="swiper-slide">
                            <a href="{{project.link}}">
                                <div class="home-title">{{project.title}}</div>
                                <div class="row images-container">
                                    <div class="home-images bg-cover bg-img-sm" style="background-image: url('{{project.thumbnail}}');">
                                    </div>
                                    <div class="home-images bg-cover bg-img-sm image-center" style="background-image: url('{{project.thumbnail}}');">
                                    </div>
                                    <div class="home-images bg-cover bg-img-sm" style="background-image: url('{{project.thumbnail}}');">
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% for item in posts %}
            <div class="home-number" data-loop="{{loop.index0}}">0{{loop.index}}</div>
        {% endfor %}
        
    </div>  
{% endblock %}
