/*
|--------------------
|    FONTS IMPORTS
|--------------------
|
| 100 - Extra Light or Ultra Light
| 200 - Light or Thin
| 300 - Book or Demi
| 400 - Normal or Regular
| 500 - Medium
| 600 - Semibold, Demibold
| 700 - Bold
| 800 - Black, Extra Bold or Heavy
| 900 - Extra Black, Fat, Poster or Ultra Black
|
*/

@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/helvetica-neue/helveticaneuelt-webfont.eot');
    src: url('../fonts/helvetica-neue/helveticaneuelt-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica-neue/helveticaneuelt-webfont.woff2') format('woff2'),
        url('../fonts/helvetica-neue/helveticaneuelt-webfont.woff') format('woff'),
        url('../fonts/helvetica-neue/helveticaneuelt-webfont.ttf') format('truetype'),
        url('../fonts/helvetica-neue/helveticaneuelt-webfont.svg#helveticaneuelight') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/helvetica-neue/helveticaneue_medium-webfont.eot');
    src: url('../fonts/helvetica-neue/helveticaneue_medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica-neue/helveticaneue_medium-webfont.woff2') format('woff2'),
        url('../fonts/helvetica-neue/helveticaneue_medium-webfont.woff') format('woff'),
        url('../fonts/helvetica-neue/helveticaneue_medium-webfont.ttf') format('truetype'),
        url('../fonts/helvetica-neue/helveticaneue_medium-webfont.svg#helveticaneuemedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/helvetica-neue/helveticaneuebd-webfont.eot');
    src: url('../fonts/helvetica-neue/helveticaneuebd-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica-neue/helveticaneuebd-webfont.woff2') format('woff2'),
        url('../fonts/helvetica-neue/helveticaneuebd-webfont.woff') format('woff'),
        url('../fonts/helvetica-neue/helveticaneuebd-webfont.ttf') format('truetype'),
        url('../fonts/helvetica-neue/helveticaneuebd-webfont.svg#helveticaneuebold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'integral_cf';
    src: url('../fonts/integral_cf/integralcf-bold-webfont.eot');
    src: url('../fonts/integral_cf/integralcf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/integral_cf/integralcf-bold-webfont.woff2') format('woff2'),
         url('../fonts/integral_cf/integralcf-bold-webfont.woff') format('woff'),
         url('../fonts/integral_cf/integralcf-bold-webfont.ttf') format('truetype'),
         url('../fonts/integral_cf/integralcf-bold-webfont.svg#integral_cfbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy/gilroy-bold-webfont.eot');
    src: url('../fonts/gilroy/gilroy-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy/gilroy-bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy/gilroy-bold-webfont.woff') format('woff'),
         url('../fonts/gilroy/gilroy-bold-webfont.ttf') format('truetype'),
         url('../fonts/gilroy/gilroy-bold-webfont.svg#gilroybold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy/gilroy-medium-webfont.eot');
    src: url('../fonts/gilroy/gilroy-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy/gilroy-medium-webfont.woff2') format('woff2'),
         url('../fonts/gilroy/gilroy-medium-webfont.woff') format('woff'),
         url('../fonts/gilroy/gilroy-medium-webfont.ttf') format('truetype'),
         url('../fonts/gilroy/gilroy-medium-webfont.svg#gilroy-mediumuploaded_file') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy/gilroy-regular-webfont.eot');
    src: url('../fonts/gilroy/gilroy-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy/gilroy-regular-webfont.woff2') format('woff2'),
         url('../fonts/gilroy/gilroy-regular-webfont.woff') format('woff'),
         url('../fonts/gilroy/gilroy-regular-webfont.ttf') format('truetype'),
         url('../fonts/gilroy/gilroy-regular-webfont.svg#gilroy-regularuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;
}