{#
|
| Pagination
|-------------
#}
{% macro pagination(params) %}
	{% set pagination = params.pagination %}
	{% set prev = params.prev ? params.prev : 'prev' %}
	{% set next = params.next ? params.next : 'next' %}

	<ul class="pagination-container">
        {#
        |
        | Prev
        |-------
        #}
		{% if pagination.prev %}
			{% set link = pagination.prev.link %}
			<li><a href="{{ link }}">{{ prev }}</a></li>
		{% endif %}

        {#
        |
        | Pages
        |--------
        #}
		{% for page in pagination.pages %}
			<li>
				{% if page.link %}
					<a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
				{% else %}
					<span class="{{ page.class }}">{{ page.title }}</span>
				{% endif %}
			</li>
		{% endfor %}

        {#
        |
        | Next
        |-------
        #}
		{% if pagination.next %}
			{% set link = pagination.next.link %}
			<li/><a href="{{ link }}">{{ next }}</a></li>
		{% endif %}
	</ul>
{% endmacro %}


{# 
|
| Card block
|-------------
#}
{% macro card(params) %}
	{% set link    = params.link %}
	{% set image   = params.image %}
	{% set date    = params.date %}
	{% set title   = params.title %}
	{% set content = params.content %}
	{% set terms   = params.terms %}

	<div class="custom-card">
        <div class="item-img" style="background-image: url('{{ image }}')"></div>
		<div class="item-content">
			<h3 class="title-sm mb-xs">{{ title }}</h3>
			<div class="mb-md">{{ date }}</div>
            {% if terms %}
                <div class="mb-md">
                    {% for k, v in terms %}
                        <a href="{{ v.link }}">{{ v.name }}</a> {{ loop.last ? '' : ', ' }}
                    {% endfor %}
                </div>
            {% endif %}
			<div class="mb-md">{{ content|raw }}</div>
			<a class="btn btn-black btn-sm" href="{{ link }}">Lire plus</a>
		</div>
	</div>
{% endmacro %}


{# 
|
| Banner
|---------
#}
{% macro banner(params) %}
    {% set classes = params.classes  %}
    {% set image   = params.image  %}
    {% set title   = params.title  %}
    {% set content = params.content %}

    <section class="banner {{ classes }}" style="background-image: url('{{ image }}')" data-kira-timeline-onload>
        <div class="overlay"></div>
        <div class="item-content">
            <div class="container">
                <h1 class="title-xl c-white mb-sm" data-kira-item="fadeInUp.parallax.sm"  data-start="0.2">{{ title }}</h1>
            </div>
        </div>
    </section>
{% endmacro %}