/*
|--------------------
|      CONTENT
|--------------------
*/

/*
|
| Cursor
|---------
*/
.cursor{
    position: absolute;
    z-index: 100;
    pointer-events: none;
    top: 0;
    left: 0;
    .cursor-shape{
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        .cursor-inner {
            background: $red;
            height: 100%;
            border-radius: 50%;
            transition: background .3s;
        }
        .cursor-text {
        }
    }
}



/*
|
| Banner
|---------
*/
.banner{
    @extend .bg-cover;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $black;

    .item-content{
        width: 100%;
    }
}



/*
|
| Custom card
|--------------
*/
.custom-card{
    .item-img{
        @extend .bg-cover;
        width: 100%;
        height: 200px;
    }

    .item-content{
        padding: 15px 30px;
        border: 1px solid $border-color;
    }
}


/*
|
| Pagination
|---------------
*/
.pagination-container {
    li {
        display: inline-block;

        a {
            transition: all 0.3s ease-out;
            padding: 0 8px;

            &:hover {
                color: $grey;
            }
        }

        .current {
            padding: 0 8px;
            font-weight: 800;
            color: $grey;
        }
    }
}


/*
|
| CMS
|------
*/
.cms{
    span{
        display: inline;
    }

    h1, h2, h3, h4, h5, h6{
        margin-bottom: 30px;
    }

    h1{
        @extend .title-xxl;
    }
    h2 {
        @extend .title-xl;
    }
    h3 {
        @extend .title-lg;
    }
    h4 {
        @extend .title-md;
    }
    h5 {
        @extend .title-sm;
    }
    h6 {
        @extend .title-xs;
    }

    img{
        display: block;
        width: 100%;
        height: auto;
    }

    strong{
        font-weight: 800;
    }

    p{
        margin-bottom: 20px;
    }

    &.cms-no-break{
        p{
            margin-bottom: 0;
        }
    }
}