/*
|--------------------
|      HEADER
|--------------------
*/

/*
|
| Header
|---------
*/
#header{
    @extend .pt-xl;

    position: fixed;

    max-width: 90%;
    width: 100%;

    left: 0;
    right: 0;
    margin: auto;
    .item-nav{
        display: flex;
        justify-content: space-between;
    }
    .item-menu{
        display: flex;
        @extend .mr-md-child-not-last;
        .menu-item{
            a{
                position: relative;
                transition: color 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);

                &:before, &:after {
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    bottom: 45%;
                    background: $red;
                }

                &:before {
                    left: 0;
                }

                &:after {
                    right: 0;
                    background: $red;
                    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
                }

                &:hover{
                    color: $red-light;
                    &:before {
                        background: $red;
                        width: 100%;
                        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                    }
                    &:after {
                        background: transparent;
                        width: 100%;
                        transition: 0s;
                    }
                }

            }
        }
        .current-menu-item{
            a{
                color: $red-light;
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 45%;
                    background: $red;
                }
            }
        }
    }
}

/*
|
| Menu
|-------
*/
#mobile-menu{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $black;
    overflow: auto;

    .item-container{
        @extend .container;
        padding-top: 150px;
        padding-bottom: 50px;

        ul {
            & > li {
                &:not(:last-child){
                    margin-bottom: 30px;
                }

                a {
                    @extend .link-white;
                    font-size: 18px;
                }
            }
        }
    }
    
}